/Chapter-2/HTML5 Canvas/nbproject/private/
/Chapter-2/HTML5Canvas/nbproject/private/
/Chapter-2/JavaScriptSourceFile/nbproject/private/
/Chapter-2/JavaScriptObjects/nbproject/private/
/Chapter-2/DrawOneSquare/nbproject/private/
/Chapter-2/2.1.HTML5Canvas/nbproject/private/
/Chapter-2/2.3.DrawOneSquare/nbproject/private/
/Chapter-2/2.4.JavaScriptObjects/nbproject/private/
/Chapter-2/2.5.ShaderSourceFiles/nbproject/private/
/Chapter-2/2.6.ParameterizedFragmentShader/nbproject/private/
